.text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 10px;
}
.container.front {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color:#0074ff;
}
