.text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 10px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container.front {
  height: 200px;
  width: 100%;
  background-color:#0074ff;
}
.container.instructions {
  height: 200px;
  width: 100%;
}
.container.controls {
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}
sub {
  font-family: 'Comfortaa', sans-serif;
  color: black;
  font-size: 13px;
  margin: 2px;
}
h1 {
  font-family: 'Comfortaa', sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  margin: 10px;
}
p {
  font-family: 'Comfortaa', sans-serif;
  color: black;
  font-size: 20px;
  margin: 5px;
}
.button {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  padding: 10px;
  width:400px;
  height:100px;
  transition: background-color 0.5s ease;
}
.button.rock {
  background-color: #0074ff;
}
.button.paper {
  background-color: #bd1111;
}
.button.scissors {
  background-color: #ffc400;
}
.button.rock:hover {
  background-color: #005fcc;
}
.button.paper:hover {
  background-color: #9a0d0d;
}
.button.scissors:hover {
  background-color: #e0a800;
}
